<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myserver.skp.mapper.TestMapper">

	<resultMap id="testMap" type="com.myserver.skp.vo.TestVo">
		<id property="p_id" column="p_id" />

	</resultMap>

	<resultMap id="curGradeMap" type="java.util.HashMap">
		<result property="p_id" column="p_id" />
		<result property="age" column="age" />
		<result property="grade" column="grade" />

	</resultMap>

	<select id="select" resultMap="testMap">
		SELECT * FROM program
	</select>

	<select id="selectP" resultType="String">
		SELECT photo_name FROM photo_set
		where num = #{p_id}
	</select>


	<update id="photoSet">
		update program set p_photo_url = #{p_photo_url} where
		p_id = #{p_id}
	</update>

	<select id="selectProgramCurGrade" resultType="int">
		SELECT ifnull(
		max(grade), 0 ) as grade FROM cur_grade where p_id = #{p_id} and
		age=#{age}
	</select>

	<insert id="insertRecomment">
		insert into recommend values(#{p_id}, #{u_id},
		#{cur_grade}, #{fav_grade}, #{wish_grade}, #{season_grade})
	</insert>

	<update id="updateRecommendWishAdd">
		update recommend set wish_grade=1 where u_id=#{u_id}
		and p_id=#{p_id}
	</update>

	<update id="updateRecommendWishDel">
		update recommend set wish_grade=0 where u_id=#{u_id}
		and p_id=#{p_id}
	</update>

	<update id="updateRecommendFavDel">
		update recommend 
		set fav_grade=0
		where u_id=#{u_id}
	</update>
	
	<update id="updateRecommendFavAdd">
		update recommend 
		set fav_grade=1
		where u_id=#{u_id} and
		p_id=#{p_id}
	</update>

</mapper>